<<<<<<< HEAD
#destaq_container { margin: 0px auto; width:576px; }
.galleryview { font-size: 12px; font-family: Arial, Helvetica, sans-serif; position: relative; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: black; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: white; border-right-color: white; border-bottom-color: white; border-left-color: white; width: 576px; height: 300px; visibility: visible; background-position: initial initial; background-repeat: initial initial; margin: 0px auto;}
.important { border: 1px solid #666; background: #ddd; padding: 0 1em; color: #C30; }
#slideshow { margin: 0px auto !important; }
#slideshow h2 { font-size: 18px; font-weight: bold; color: #eee;}
#slideshow h3 { font-size: 1.45em; line-height: 1.05em; border-bottom: 1px solid #333; }
#slideshow dt { font-weight: bold; }
#slideshow dd { margin-bottom: 0.5em; }
.code_wrapper { border: 1px solid #888; background: #f0f0f0; padding: 10px; }
.options { border: 1px solid #777; border-right: none; font-size: 0.8em; font-family: Verdana, Geneva, sans-serif; }
.options th { text-align: left; background: #777; color: white; font-weight: bold; }
.options th, .options td { padding: 4px 10px; }
.options td { border-right: 1px solid #777; }
#parts-img { border: 1px solid black; }
#slideshow img.nav { border: 1px solid black; margin-bottom: 5px; }
#slideshow h3 { border-bottom-color: white; }
.panel { width: 576px; height: 300px; position: absolute; top: 0px; left: 0px; overflow-x: hidden; overflow-y: hidden; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: white; display: none; background-position: initial initial; background-repeat: initial initial; }
.panel-overlay { position: absolute; z-index: 999; width: 780px; height: 70px; top: 230px; left: 0px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; color: white; font-size: 1em; }
.panel-overlay h2, .panel-overlay p { margin: .3em 0; }
.panel-overlay p { line-height: 1.2em; }
.panel-overlay h6 { margin:0px auto; margin-top:20px; font-size:20px; text-align:center; }
.overlay { position: absolute; z-index: 998; width: 576px; height: 70px; top: 230px; left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: black; opacity: 0.6; background-position: initial initial; background-repeat: initial initial; }
.photo_destaq { color: white; text-decoration: underline; font-weight: bold; }
.nav-links { position: absolute; top: 30px; left: 20px; width: 200px; list-style: none; margin: 0; padding: 0; }
.nav-links li { line-height: 1.6em; font-size: 1.2em; }
.nav-next { position: absolute; z-index: 1100; cursor: pointer; top: 139px; right: 10px; display: none; }
.nav-prev { position: absolute; z-index: 1100; cursor: pointer; top: 139px; left: 10px; display: none; }
.nav-overlay { position: absolute; z-index: 1099; top: 129px; right: 0px; display: none;  }
.nav-overlay_r { position: absolute; z-index: 1099; top: 129px; left: 0px; display: none; }
=======
#destaq_container { margin: 0px auto; width:576px; }
.galleryview { font-size: 12px; font-family: Arial, Helvetica, sans-serif; position: relative; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: black; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: white; border-right-color: white; border-bottom-color: white; border-left-color: white; width: 576px; height: 300px; visibility: visible; background-position: initial initial; background-repeat: initial initial; margin: 0px auto;}
.important { border: 1px solid #666; background: #ddd; padding: 0 1em; color: #C30; }
#slideshow { margin: 0px auto !important; }
#slideshow h2 { font-size: 18px; font-weight: bold; color: #eee;}
#slideshow h3 { font-size: 1.45em; line-height: 1.05em; border-bottom: 1px solid #333; }
#slideshow dt { font-weight: bold; }
#slideshow dd { margin-bottom: 0.5em; }
.code_wrapper { border: 1px solid #888; background: #f0f0f0; padding: 10px; }
.options { border: 1px solid #777; border-right: none; font-size: 0.8em; font-family: Verdana, Geneva, sans-serif; }
.options th { text-align: left; background: #777; color: white; font-weight: bold; }
.options th, .options td { padding: 4px 10px; }
.options td { border-right: 1px solid #777; }
#parts-img { border: 1px solid black; }
#slideshow img.nav { border: 1px solid black; margin-bottom: 5px; }
#slideshow h3 { border-bottom-color: white; }
.panel { width: 576px; height: 300px; position: absolute; top: 0px; left: 0px; overflow-x: hidden; overflow-y: hidden; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: white; display: none; background-position: initial initial; background-repeat: initial initial; }
.panel-overlay { position: absolute; z-index: 999; width: 780px; height: 70px; top: 230px; left: 0px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; color: white; font-size: 1em; }
.panel-overlay h2, .panel-overlay p { margin: .3em 0; }
.panel-overlay p { line-height: 1.2em; }
.panel-overlay h6 { margin:0px auto; margin-top:20px; font-size:20px; text-align:center; }
.overlay { position: absolute; z-index: 998; width: 576px; height: 70px; top: 230px; left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: black; opacity: 0.6; background-position: initial initial; background-repeat: initial initial; }
.photo_destaq { color: white; text-decoration: underline; font-weight: bold; }
.nav-links { position: absolute; top: 30px; left: 20px; width: 200px; list-style: none; margin: 0; padding: 0; }
.nav-links li { line-height: 1.6em; font-size: 1.2em; }
.nav-next { position: absolute; z-index: 1100; cursor: pointer; top: 139px; right: 10px; display: none; }
.nav-prev { position: absolute; z-index: 1100; cursor: pointer; top: 139px; left: 10px; display: none; }
.nav-overlay { position: absolute; z-index: 1099; top: 129px; right: 0px; display: none;  }
.nav-overlay_r { position: absolute; z-index: 1099; top: 129px; left: 0px; display: none; }
>>>>>>> refs/remotes/origin/master
